@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .cont-max-width {
    max-width: 2000px;
    margin-inline: auto;
  }
  .cont-padding {
    padding-inline: 1rem;
    @variant md {
      padding-inline: 3.5rem;
    }
  }
}
